---
source: sumsub
original_url: https://docs.sumsub.com/docs/business-verification
scraped_at: 2026-05-02T11:01:46.104004
---

# Sumsub: Business Verification

Title: About Business Verification

URL Source: https://docs.sumsub.com/docs/business-verification

Markdown Content:
# About Business Verification

[Jump to Content](https://docs.sumsub.com/docs/business-verification#content)

[![Image 1: Sumsub](https://files.readme.io/04d6db7-SumsubLogoDocs.svg)](https://docs.sumsub.com/)

[Documentation](https://docs.sumsub.com/docs)[API Reference](https://docs.sumsub.com/reference)[Changelog](https://docs.sumsub.com/changelog)[Home](https://docs.sumsub.com/)[User verification](https://docs.sumsub.com/sumsub/docs/user-verification)[Fraud prevention](https://docs.sumsub.com/sumsub/docs/about-fraud-prevention)[Transaction monitoring](https://docs.sumsub.com/sumsub/docs/transaction-monitoring)[Travel rule](https://docs.sumsub.com/sumsub/docs/travel-rule-overview)[Business verification](https://docs.sumsub.com/sumsub/docs/business-verification)[Case Management](https://docs.sumsub.com/sumsub/docs/case-management)[Developer tools](https://docs.sumsub.com/sumsub/docs/development)

* * *

[API Reference](https://docs.sumsub.com/sumsub/reference)[Changelog](https://docs.sumsub.com/sumsub/changelog)[FAQ](https://docs.sumsub.com/sumsub/page/faq)[Dashboard](https://cockpit.sumsub.com/)[![Image 2: Sumsub](https://files.readme.io/04d6db7-SumsubLogoDocs.svg)](https://docs.sumsub.com/)

Documentation

[API Reference](https://docs.sumsub.com/sumsub/reference)[Changelog](https://docs.sumsub.com/sumsub/changelog)[FAQ](https://docs.sumsub.com/sumsub/page/faq)[Dashboard](https://cockpit.sumsub.com/)

Ask AI![Image 3: ai](blob:http://localhost/e237f3378af64aaab51f3dea240c54f0)

[Documentation](https://docs.sumsub.com/docs)[API Reference](https://docs.sumsub.com/reference)[Changelog](https://docs.sumsub.com/changelog)[Home](https://docs.sumsub.com/)[User verification](https://docs.sumsub.com/sumsub/docs/user-verification)[Fraud prevention](https://docs.sumsub.com/sumsub/docs/about-fraud-prevention)[Transaction monitoring](https://docs.sumsub.com/sumsub/docs/transaction-monitoring)[Travel rule](https://docs.sumsub.com/sumsub/docs/travel-rule-overview)[Business verification](https://docs.sumsub.com/sumsub/docs/business-verification)[Case Management](https://docs.sumsub.com/sumsub/docs/case-management)[Developer tools](https://docs.sumsub.com/sumsub/docs/development)About Business Verification

Search

CTRL-K Ask AI![Image 4: ai](blob:http://localhost/e237f3378af64aaab51f3dea240c54f0)

## Get started

*   [Overview](https://docs.sumsub.com/docs/overview)
*   [Account](https://docs.sumsub.com/docs/account)
    *   [Add team members](https://docs.sumsub.com/docs/add-team-members)
    *   [User roles](https://docs.sumsub.com/docs/user-roles)
        *   [Automatic suspension of inactive users](https://docs.sumsub.com/docs/automatic-suspension-of-inactive-users)
        *   [Owner account](https://docs.sumsub.com/docs/owner-account)

    *   [Branding](https://docs.sumsub.com/docs/branding)
    *   [Single sign-on (SSO)](https://docs.sumsub.com/docs/single-sign-on-sso)
        *   [Integrate with Okta](https://docs.sumsub.com/docs/integrate-with-okta)

    *   [Two-factor authentication](https://docs.sumsub.com/docs/two-factor-authentication)
    *   [Billing](https://docs.sumsub.com/docs/billing)
    *   [Business information](https://docs.sumsub.com/docs/business-information)

*   [Verification levels](https://docs.sumsub.com/docs/verification-levels)
    *   [Configure verification levels](https://docs.sumsub.com/docs/configure-verification-levels)
        *   [Verification steps](https://docs.sumsub.com/docs/verification-steps)
        *   [Consent screen](https://docs.sumsub.com/docs/consent-screen)

    *   [Applicant actions](https://docs.sumsub.com/docs/applicant-actions)
        *   [Actions in Sumsub API](https://docs.sumsub.com/docs/applicant-actions-in-sumsub-api)
        *   [Actions in iOS SDK](https://docs.sumsub.com/docs/applicant-actions-ios)
        *   [Actions in Android SDK](https://docs.sumsub.com/docs/applicant-actions-in-android)

*   [Customization](https://docs.sumsub.com/docs/sdk-customization)
*   [Supported SDK languages](https://docs.sumsub.com/docs/supported-sdk-languages)
*   [Source keys](https://docs.sumsub.com/docs/source-keys)
*   [Test in Sandbox](https://docs.sumsub.com/docs/test-in-sandbox)
    *   [Test Business Verification](https://docs.sumsub.com/docs/test-business-verification)
    *   [Test AML Screening](https://docs.sumsub.com/docs/test-aml-screening)
    *   [Test Applicant actions](https://docs.sumsub.com/docs/test-applicant-actions)

*   [Go live](https://docs.sumsub.com/docs/go-live)
*   [Migrate to Sumsub from other platforms](https://docs.sumsub.com/docs/migrate-from-veriff-to-sumsub)
    *   [Migrate from Veriff to Sumsub](https://docs.sumsub.com/docs/migrate-from-veriff-to-sumsub)

## User Verification

*   [About User Verification](https://docs.sumsub.com/docs/user-verification)
*   [Supported documents and countries](https://docs.sumsub.com/docs/supported-documents-and-countries)
*   [ID verification](https://docs.sumsub.com/docs/identity-verification)
    *   [How ID verification works](https://docs.sumsub.com/docs/how-id-verification-works)
    *   [Database Validation](https://docs.sumsub.com/docs/database-validation)
        *   [Get started with identity verification](https://docs.sumsub.com/docs/get-started-with-identity-verification)
        *   [Best practices](https://docs.sumsub.com/docs/database-validation-best-practices)

    *   [German eID Verification](https://docs.sumsub.com/docs/german-eid-verification)
    *   [Real-time Identification Recording](https://docs.sumsub.com/docs/real-time-identification-recording)
    *   [Live capture](https://docs.sumsub.com/docs/live-capture)
    *   [Name transliteration](https://docs.sumsub.com/docs/name-transliteration)
    *   [Verify ID documents](https://docs.sumsub.com/docs/customize-id-verification-settings)
        *   [Customize ID verification settings](https://docs.sumsub.com/docs/customize-id-verification-settings)
        *   [Customize supported ID documents](https://docs.sumsub.com/docs/customize-supported-id-documents)
        *   [Conduct ID verification](https://docs.sumsub.com/docs/conduct-id-verification)

*   [Non-Doc Verification](https://docs.sumsub.com/docs/no-document-verification)
    *   [Non-Doc Identity Verification](https://docs.sumsub.com/docs/non-doc-identity-verification)
        *   [Get started with Non-Doc Identity Verification](https://docs.sumsub.com/docs/get-started-identity-verification)
        *   [Handle Non-Doc Identity Verification results](https://docs.sumsub.com/docs/handle-results-identity-verification)
        *   [Solution compliance assessment](https://docs.sumsub.com/docs/solution-compliance-assessment)

    *   [Non-Doc Address Verification](https://docs.sumsub.com/docs/non-doc-address-verification)
        *   [Get started with Non-Doc Address Verification](https://docs.sumsub.com/docs/get-started-address-verification)
        *   [Handle Non-Doc Address Verification results](https://docs.sumsub.com/docs/handle-results-address-verification)
        *   [Explore Matching methods](https://docs.sumsub.com/docs/matching-configurations)
        *   [Solution compliance assessment](https://docs.sumsub.com/docs/solution-compliance-assessment-address-verification)

    *   [Canada Non-Doc Identity Verification](https://docs.sumsub.com/docs/data-verification-methodology)
        *   [Data verification methodology](https://docs.sumsub.com/docs/data-verification-methodology)
        *   [Mandatory User Terms](https://docs.sumsub.com/docs/mandatory-user-terms-canada-non-doc-identity-verification)

*   [Biometric verification](https://docs.sumsub.com/docs/liveness)
    *   [Liveness & Face match](https://docs.sumsub.com/docs/liveness)
    *   [Short video fragment](https://docs.sumsub.com/docs/short-video-fragment)

*   [Address verification](https://docs.sumsub.com/docs/address-verification)
    *   [Document-based PoA](https://docs.sumsub.com/docs/document-based-poa)
        *   [Customize supported address documents](https://docs.sumsub.com/docs/customize-supported-address-documents)
        *   [Verify PoA documents](https://docs.sumsub.com/docs/get-started-with-address-verification)

    *   [PoA through Geolocation](https://docs.sumsub.com/docs/poa-through-geolocation)
        *   [Enable PoA through Geolocation](https://docs.sumsub.com/docs/enable-poa-through-geolocation)

*   [AML screening and monitoring](https://docs.sumsub.com/docs/aml-screening)
    *   [How AML screening and monitoring work](https://docs.sumsub.com/docs/aml-how-it-works)
        *   [How often do we update AML data sources](https://docs.sumsub.com/docs/data-sources-and-refreshment-times)
        *   [Matching techniques in AML Screening](https://docs.sumsub.com/docs/fuzzy-matching)

    *   [AML Screening LLM models](https://docs.sumsub.com/docs/aml-screening-llm-models)
    *   [Ongoing AML monitoring](https://docs.sumsub.com/docs/ongoing-aml-monitoring)
    *   [ComplyAdvantage Mesh presets](https://docs.sumsub.com/docs/complyadvantage-mesh-presets)
        *   [Best Approval Rate preset](https://docs.sumsub.com/docs/best-approval-rate-preset)
        *   [Default preset](https://docs.sumsub.com/docs/default-preset)
        *   [Expanded screening preset](https://docs.sumsub.com/docs/expanded-screening-preset)
        *   [Extensive screening preset](https://docs.sumsub.com/docs/extensive-screening-preset)
        *   [Counterparty Sanctions Screening preset](https://docs.sumsub.com/docs/counterparty-sanctions-screening-preset)

    *   [Configure AML screening](https://docs.sumsub.com/docs/configure-aml-screening)
    *   [Review AML screening results](https://docs.sumsub.com/docs/process-aml-screening-results)
        *   [AML screening report](https://docs.sumsub.com/docs/aml-screening-report)
        *   [AML screening events](https://docs.sumsub.com/docs/aml-screening-events)

    *   [Manage AML screening alerts](https://docs.sumsub.com/docs/review-aml-cases)
    *   [Resolution Rule Chain for AML Screening](https://docs.sumsub.com/docs/resolution-rule-chain-for-aml-screening)
        *   [Setting up conditions and reviews for rule chains](https://docs.sumsub.com/docs/setting-up-conditions-and-reviews-for-rule-chains)
        *   [Resolution Rule Chain variables](https://docs.sumsub.com/docs/resolution-rule-chain-variables)

*   [Video identification](https://docs.sumsub.com/docs/video-identification)
*   [Qualified Electronic Signature (QES) Verification](https://docs.sumsub.com/docs/qualified-electronic-signature-qes-verification)
    *   [QES integration guide](https://docs.sumsub.com/docs/qes-integration-guide)
    *   [Supported identity documents](https://docs.sumsub.com/docs/qes-supported-identity-documents)
    *   [Solution compliance assessment](https://docs.sumsub.com/docs/qes-solution-compliance-assessment)

*   [Penny Drop Verification](https://docs.sumsub.com/docs/penny-drop-verification)
    *   [Get started with Penny Drop Verification](https://docs.sumsub.com/docs/get-started-with-penny-drop-verification)
    *   [Supported ASPSPs in the EU/EEA](https://docs.sumsub.com/docs/aspsps-covered-under-penny-drop-verification)
    *   [Solution compliance assessment](https://docs.sumsub.com/docs/penny-drop-solution-compliance-assessment)

*   [Bank Account Verification](https://docs.sumsub.com/docs/bank-account-verification)
    *   [Get started with Bank Account Verification](https://docs.sumsub.com/docs/get-started-with-bank-account-verification)
    *   [Supported ASPSPs in EU/EEA](https://docs.sumsub.com/docs/supported-aspsps-in-eu-eea)

*   [TIN Validation](https://docs.sumsub.com/docs/tin-validation)
*   [Reusable Identity](https://docs.sumsub.com/docs/reusable-identity)
    *   [Reusable KYC](https://docs.sumsub.com/docs/reusable-kyc)
        *   [Reusable KYC via SDK](https://docs.sumsub.com/docs/reusable-kyc-via-sdk)
        *   [Reusable KYC via API](https://docs.sumsub.com/docs/reusable-kyc-via-api)
        *   [Reusable KYC Networks](https://docs.sumsub.com/docs/reusable-kyc-networks)

    *   [Copy Applicant](https://docs.sumsub.com/docs/copy-applicant)
    *   [Partner management](https://docs.sumsub.com/docs/manage-sharing-partners)
    *   [Sumsub ID](https://docs.sumsub.com/docs/sumsub-id)
        *   [Sumsub ID Connect](https://docs.sumsub.com/docs/sumsub-id-connect)
        *   [Sumsub ID Connect – Partner sharing](https://docs.sumsub.com/docs/sumsub-id-connect-partner-sharing)

*   [NFC-based ID verification](https://docs.sumsub.com/docs/nfc-based-id-verification)
    *   [NFC-supported documents](https://docs.sumsub.com/docs/nfc-supported-documents)

*   [Questionnaire](https://docs.sumsub.com/docs/questionnaire)
    *   [Get started with questionnaires](https://docs.sumsub.com/docs/get-started-with-questionnaire)
        *   [Create questionnaire](https://docs.sumsub.com/docs/create-questionnaire)
        *   [Add questionnaires to verification level](https://docs.sumsub.com/docs/add-questionnaire-to-verification-level)
        *   [Review questionnaire structure](https://docs.sumsub.com/docs/review-questionnaire-structure)
        *   [Review questionnaire answers](https://docs.sumsub.com/docs/review-questionnaire-answers)

    *   [Translate questionnaire](https://docs.sumsub.com/docs/translate-questionnaire)
    *   [Manage questionnaires](https://docs.sumsub.com/docs/manage-questionnaires)
    *   [Best practices and use cases](https://docs.sumsub.com/docs/manage-applicants-based-on-questionnaire-risk-score)
        *   [Manage applicants based on Questionnaire risk score](https://docs.sumsub.com/docs/manage-applicants-based-on-questionnaire-risk-score)
        *   [Import questionnaire data via API](https://docs.sumsub.com/docs/import-questionnaire-data-via-api)
        *   [Add images to questionnaire via API](https://docs.sumsub.com/docs/add-images-to-questionnaire-via-api)

    *   [Questionnaire handling across verification levels](https://docs.sumsub.com/docs/questionnaire-handling-across-verification-levels)

*   [AllDocs Verification](https://docs.sumsub.com/docs/alldocs-verification)
*   [Payment Method Check Advanced](https://docs.sumsub.com/docs/payment-method-check-advanced)
    *   [Set up verification flows for different payment methods](https://docs.sumsub.com/docs/set-up-verification-flows-for-different-payment-methods)
    *   [Configure Payment Method Check for companies](https://docs.sumsub.com/docs/configure-payment-method-check-for-companies)

*   [KYC settings wizard](https://docs.sumsub.com/docs/kyc-settings-wizard)
*   [Additional checks](https://docs.sumsub.com/docs/email-and-phone-verification)
    *   [Email and phone verification](https://docs.sumsub.com/docs/email-and-phone-verification)
    *   [Fastfail](https://docs.sumsub.com/docs/fastfail)
    *   [Periodic verification](https://docs.sumsub.com/docs/periodic-verification)
    *   [Ongoing document monitoring](https://docs.sumsub.com/docs/ongoing-document-monitoring)
    *   [Age Estimation](https://docs.sumsub.com/docs/age-estimation)
    *   [Cross Check Rules](https://docs.sumsub.com/docs/cross-check-rules)

*   [Verification templates](https://docs.sumsub.com/docs/verification-document-templates)
    *   [Verification document templates](https://docs.sumsub.com/docs/verification-document-templates)
    *   [Payment templates](https://docs.sumsub.com/docs/payment-templates)

*   [Handle verification results](https://docs.sumsub.com/docs/review-results-in-applicant-profile)
    *   [Review results in the Dashboard](https://docs.sumsub.com/docs/review-results-in-applicant-profile)
        *   [Applicant profile overview](https://docs.sumsub.com/docs/applicant-profile-overview)
        *   [User verification check results](https://docs.sumsub.com/docs/user-verification-check-results)
        *   [Transaction check results](https://docs.sumsub.com/docs/transaction-check-results)
        *   [Applicant action check results](https://docs.sumsub.com/docs/applicant-action-check-results)
        *   [Manage database products and solutions](https://docs.sumsub.com/docs/manage-database-products-and-solutions)

    *   [Manage applicant profiles](https://docs.sumsub.com/docs/manage-profiles)
        *   [Create applicant profile](https://docs.sumsub.com/docs/create-applicant-profile)
        *   [Approve and decline applicants manually](https://docs.sumsub.com/docs/approve-and-decline-applicants-manually)
        *   [Approve rejected applicants](https://docs.sumsub.com/docs/approve-rejected-applicants)
        *   [Request profile check](https://docs.sumsub.com/docs/request-profile-check)
        *   [Reset applicant profile](https://docs.sumsub.com/docs/reset-applicant-profile)
        *   [Make applicant profile inactive](https://docs.sumsub.com/docs/make-applicant-profile-inactive)
        *   [Make applicant documents inactive](https://docs.sumsub.com/docs/make-applicant-documents-inactive)
        *   [Blocklist applicants](https://docs.sumsub.com/docs/blocklist-applicants)
        *   [Add additional documents to applicant profile](https://docs.sumsub.com/docs/add-additional-documents-to-applicant-profile)
        *   [Add applicant tags](https://docs.sumsub.com/docs/add-applicant-tags)
        *   [Manage verification level](https://docs.sumsub.com/docs/change-verification-level)
        *   [View summary report](https://docs.sumsub.com/docs/view-summary-report)
        *   [Send email with verification status](https://docs.sumsub.com/docs/send-email-with-verification-status)
        *   [Generate WebSDK verification links](https://docs.sumsub.com/docs/generate-websdk-permalink)
        *   [Add notes](https://docs.sumsub.com/docs/add-notes)
        *   [Re-OCR documents](https://docs.sumsub.com/docs/re-ocr-documents)

    *   [Receive results via API](https://docs.sumsub.com/docs/receive-and-interpret-results-via-api)
    *   [Rejection labels and explanatory buttons](https://docs.sumsub.com/docs/rejection-labels-and-explanatory-buttons)
        *   [Rejection labels](https://docs.sumsub.com/docs/rejection-labels)
        *   [Rejection explanatory buttons](https://docs.sumsub.com/docs/rejection-explanatory-buttons)

    *   [Get applicant data with Custom CSV Export](https://docs.sumsub.com/docs/custom-csv-export)
    *   [Applicant statuses](https://docs.sumsub.com/docs/applicant-statuses)
    *   [Applicant risk labels](https://docs.sumsub.com/docs/applicant-risk-labels)
    *   [Rejection filter](https://docs.sumsub.com/docs/rejection-filter)

*   [Analytics](https://docs.sumsub.com/docs/dashboard-analytics)
*   [UK FinProm Regime](https://docs.sumsub.com/docs/uk-finprom-regime)

## Fraud Prevention

*   [About Fraud Prevention](https://docs.sumsub.com/docs/about-fraud-prevention)
*   [Pre-KYC Fraud Risk Assessment](https://docs.sumsub.com/docs/pre-kyc-fraud-risk-assessment)
*   [Digital footprint checks](https://docs.sumsub.com/docs/digital-footprint-checks)
*   [Device Intelligence](https://docs.sumsub.com/docs/device-intelligence)
*   [Advanced IP check](https://docs.sumsub.com/docs/advanced-ip-check)
*   [IP geolocation](https://docs.sumsub.com/docs/ip-geolocation)
*   [Fraud Network Detection](https://docs.sumsub.com/docs/fraud-networks-detection)
*   [AI-powered Anomaly Detection](https://docs.sumsub.com/docs/ai-powered-anomaly-detection)
*   [Account Takeover Prevention](https://docs.sumsub.com/docs/account-takeover-prevention)
*   [Behavior Monitoring](https://docs.sumsub.com/docs/behavior-monitoring)

## Transaction Monitoring

*   [About Transaction Monitoring](https://docs.sumsub.com/docs/transaction-monitoring)
*   [Transaction Monitoring Quick Start Guide](https://docs.sumsub.com/docs/transaction-monitoring-quick-start-guide)
*   [Use cases](https://docs.sumsub.com/docs/applicant-risk-scoring)
    *   [Applicant risk scoring](https://docs.sumsub.com/docs/applicant-risk-scoring)
    *   [Empower KYC flow with Transaction Monitoring](https://docs.sumsub.com/docs/empower-kyc-flow-with-transaction-monitoring)
    *   [Сhange verification levels based on applicant actions](https://docs.sumsub.com/docs/change-verification-levels-based-on-applicant-actions)
    *   [Operate aggregated transaction data in rules](https://docs.sumsub.com/docs/operate-aggregated-transaction-data-in-rules)
    *   [AML Transaction Monitoring – Watchlist Screening Features](https://docs.sumsub.com/docs/aml-transaction-monitoring-watchlist-screening-features)

*   [Transactions](https://docs.sumsub.com/docs/tm-transactions)
    *   [Transaction types](https://docs.sumsub.com/docs/transaction-types)
    *   [Submit transactions and review results](https://docs.sumsub.com/docs/submit-transactions-and-review-results)
    *   [Applicant onboarding scoring](https://docs.sumsub.com/docs/applicant-onboarding-scoring)
    *   [Leverage mirrored transactions](https://docs.sumsub.com/docs/leverage-mirrored-transactions)
    *   [Manage transactions](https://docs.sumsub.com/docs/manage-transactions)
    *   [Use transaction tags](https://docs.sumsub.com/docs/use-transaction-tags)

*   [Rules](https://docs.sumsub.com/docs/tm-rules)
    *   [SumScript](https://docs.sumsub.com/docs/sumscript)
    *   [Create custom rules](https://docs.sumsub.com/docs/create-custom-rules)
    *   [Test rules](https://docs.sumsub.com/docs/tm-testing)
    *   [Rules with paid features](https://docs.sumsub.com/docs/rules-with-paid-features)
    *   [Manage rules](https://docs.sumsub.com/docs/manage-rules)

*   [Transactions and Travel Rule settings](https://docs.sumsub.com/docs/transactions-and-travel-rule-settings)
*   [Transaction Monitoring analytics](https://docs.sumsub.com/docs/transaction-monitoring-analytics)
    *   [View specific transaction analytics](https://docs.sumsub.com/docs/view-specific-transaction-analytics)

## Travel Rule

*   [Overview](https://docs.sumsub.com/docs/travel-rule-overview)
    *   [Glossary](https://docs.sumsub.com/docs/travel-rule-glossary)
    *   [Regulatory requirements](https://docs.sumsub.com/docs/travel-rule-regulatory-requirements)
    *   [Legal implications](https://docs.sumsub.com/docs/legal)

*   [Set up Travel Rule](https://docs.sumsub.com/docs/set-up-travel-rule)
    *   [Integration settings](https://docs.sumsub.com/docs/travel-rule-settings)
    *   [Workflow customization](https://docs.sumsub.com/docs/travel-rule-workflow-customization)
    *   [Product and compliance guide](https://docs.sumsub.com/docs/travel-rule-product-and-compliance-guide)
    *   [Fireblocks Integration](https://docs.sumsub.com/docs/fireblocks-integration)
    *   [SDK-based integration](https://docs.sumsub.com/docs/travel-rule-sdk-based-integration)

*   [VASP directory](https://docs.sumsub.com/docs/join-directory)
    *   [Join directory](https://docs.sumsub.com/docs/join-directory)
    *   [Onboarding requirements](https://docs.sumsub.com/docs/onboarding-requirements)
    *   [VASP statuses](https://docs.sumsub.com/docs/vasp-directory-statuses)
    *   [VASP scoring](https://docs.sumsub.com/docs/vasp-scoring)
    *   [VASP AML screening](https://docs.sumsub.com/docs/vasps-aml-screening)
    *   [Attribution](https://docs.sumsub.com/docs/vasp-attribution)
    *   [Wallet Address Book](https://docs.sumsub.com/docs/wallet-address-book)
    *   [Umbrella VASP](https://docs.sumsub.com/docs/umbrella-vasp)
    *   [Counterparty VASP notes](https://docs.sumsub.com/docs/counterparty-vasp-notes)

*   [Protocols](https://docs.sumsub.com/docs/protocols)
    *   [TRP](https://docs.sumsub.com/docs/trp-protocol)
    *   [Sumsub](https://docs.sumsub.com/docs/sumsub-protocol)
    *   [GTR](https://docs.sumsub.com/docs/gtr-protocol)
    *   [CODE](https://docs.sumsub.com/docs/code-protocol)
    *   [Sygna Bridge](https://docs.sumsub.com/docs/sygna-bridge-protocol)
    *   [Email notification](https://docs.sumsub.com/docs/email-notification-tool)

*   [Travel Rule data exchange flows](https://docs.sumsub.com/docs/travel-rule-data-exchange-flows)
    *   [Before Withdrawal: Initiate outbound data exchange](https://docs.sumsub.com/docs/before-withdrawal-initiate-outbound-data-exchange)
    *   [Respond to incoming transfer requests](https://docs.sumsub.com/docs/respond-to-incoming-transfer-requests)
    *   [After Deposit: Create incoming data exchange](https://docs.sumsub.com/docs/after-deposit-create-incoming-data-exchange)
    *   [Statuses, lifecycle, and outcomes](https://docs.sumsub.com/docs/statuses-lifecycle-and-outcomes)
    *   [Test data exchange](https://docs.sumsub.com/docs/test-data-exchange)
        *   [Test outbound data exchange in Sandbox](https://docs.sumsub.com/docs/test-outbound-data-exchange-in-sandbox)
        *   [Test inbound data exchange in Sandbox](https://docs.sumsub.com/docs/test-inbound-data-exchange-in-sandbox)

*   [Special cases](https://docs.sumsub.com/docs/travel-rule-utxo-transactions)
    *   [UTXO transactions](https://docs.sumsub.com/docs/travel-rule-utxo-transactions)
    *   [Unhosted wallet verification](https://docs.sumsub.com/docs/unhosted-wallet-verification)
    *   [Bitcoin Lightning Network transactions](https://docs.sumsub.com/docs/bitcoin-lightning-network-transactions)
    *   [Memo and tag-based network transactions](https://docs.sumsub.com/docs/memo-and-tag-based-network-transactions)
    *   [Originator wallet address update](https://docs.sumsub.com/docs/originator-wallet-address-update)

*   [Travel Rule FAQ](https://docs.sumsub.com/docs/travel-rule-faq)

## Crypto Monitoring

*   [About Crypto Monitoring](https://docs.sumsub.com/docs/crypto-monitoring)
*   [Chainalysis](https://docs.sumsub.com/docs/chainalysis)
*   [Merkle Science](https://docs.sumsub.com/docs/merklescience)
*   [TRM Labs](https://docs.sumsub.com/docs/trm-labs)
*   [Elliptic](https://docs.sumsub.com/docs/elliptic)
*   [Crystal Intelligence](https://docs.sumsub.com/docs/crystal-intelligence)

## Business Verification

*   [About Business Verification](https://docs.sumsub.com/docs/business-verification)
*   [How Business Verification works](https://docs.sumsub.com/docs/how-business-verification-works)
*   [Get started with Business Verification](https://docs.sumsub.com/docs/verify-businesses)
*   [Migrate Business verification levels to SDK 2.0](https://docs.sumsub.com/docs/migrate-business-verification-levels-to-sdk-20)
*   [Auto KYB 2.0](https://docs.sumsub.com/docs/use-auto-kyb-20)
*   [Full KYB 2.0](https://docs.sumsub.com/docs/full-kyb-20)
*   [Full KYB regulations](https://docs.sumsub.com/docs/full-kyb-regulations)
    *   [Full KYB requirements](https://docs.sumsub.com/docs/full-kyb-requirements)

*   [Business verification sources](https://docs.sumsub.com/docs/business-verification-sources)
    *   [Global corporate registry check tiers](https://docs.sumsub.com/docs/global-corporate-registry-check-tiers)
    *   [Asia corporate registry check tiers](https://docs.sumsub.com/docs/asia-corporate-registry-check-tiers)

## Case Management

*   [About Case Management](https://docs.sumsub.com/docs/case-management)
*   [Migrate to Case Management 2.0](https://docs.sumsub.com/docs/migrate-to-case-management-20)
*   [Set up blueprints](https://docs.sumsub.com/docs/setting-up-blueprints)
*   [Case Checklist](https://docs.sumsub.com/docs/case-checklist)
*   [Review cases](https://docs.sumsub.com/docs/review-cases)
*   [Manage case lifecycle](https://docs.sumsub.com/docs/manage-cases)
    *   [Create new case](https://docs.sumsub.com/docs/create-new-case)
    *   [Export case data](https://docs.sumsub.com/docs/export-case-data)

*   [Automate regulatory reporting](https://docs.sumsub.com/docs/automate-regulatory-reporting)
*   [Case Analytics](https://docs.sumsub.com/docs/case-analytics)

## Developer tools

*   [Overview](https://docs.sumsub.com/docs/overview-development)
*   [Webhooks](https://docs.sumsub.com/docs/webhooks)
    *   [Webhook manager](https://docs.sumsub.com/docs/webhook-manager)
    *   [Explore webhook types](https://docs.sumsub.com/docs/user-verification-webhooks)
        *   [User verification webhooks](https://docs.sumsub.com/docs/user-verification-webhooks)
        *   [Transaction monitoring webhooks](https://docs.sumsub.com/docs/transaction-monitoring-webhooks)
        *   [Fraud Network Detection webhooks](https://docs.sumsub.com/docs/fraud-network-detection-webhooks)

    *   [Check webhook logs](https://docs.sumsub.com/docs/webhook-logs)

*   [App tokens](https://docs.sumsub.com/docs/app-tokens)

## WebSDK

*   [About WebSDK](https://docs.sumsub.com/docs/about-web-sdk)
*   [WebSDK accessibility statement (WCAG 2.2 AA)](https://docs.sumsub.com/docs/websdk-accessibility-statement)
*   [Migrate from WebSDK 1.0 to WebSDK 2.0](https://docs.sumsub.com/docs/migrate-from-websdk-to-websdk-20)
*   [Get started with WebSDK integration](https://docs.sumsub.com/docs/get-started-with-web-sdk)
    *   [Track verification activity](https://docs.sumsub.com/docs/track-verification-activity)
    *   [WebSDK messages](https://docs.sumsub.com/docs/websdk-messages)
    *   [Receive verification results](https://docs.sumsub.com/docs/receive-verification-results)

*   [Get production key](https://docs.sumsub.com/docs/get-production-key)
*   [Customize links and notifications](https://docs.sumsub.com/docs/links-and-notifications)
*   [WebSDK settings](https://docs.sumsub.com/docs/websdk-settings)

## MobileSDK

*   [About MobileSDK](https://docs.sumsub.com/docs/about-mobile-sdk)
*   [iOS SDK](https://docs.sumsub.com/docs/get-started-ios)
    *   [Get started with iOS SDK](https://docs.sumsub.com/docs/get-started-ios)
        *   [iOS SDK changelog](https://docs.sumsub.com/docs/changelog-ios)
        *   [Breaking changes in iOS SDK 1.34](https://docs.sumsub.com/docs/breaking-changes-in-mobilesdk-1-34-ios)

    *   [Handlers](https://docs.sumsub.com/docs/handlers)
    *   [Callbacks](https://docs.sumsub.com/docs/callbacks)
    *   [Log control](https://docs.sumsub.com/docs/logging)
    *   [Analytics](https://docs.sumsub.com/docs/analytics-ios)
    *   [iOS SDK customization](https://docs.sumsub.com/docs/customization)
    *   [Theme API for iOS](https://docs.sumsub.com/docs/sdk-theme-api)
    *   [Theme guide for iOS](https://docs.sumsub.com/docs/ios-theme-guide)

*   [Android SDK](https://docs.sumsub.com/docs/get-started-android)
    *   [Get started with Android SDK](https://docs.sumsub.com/docs/get-started-android)
        *   [Android SDK changelog](https://docs.sumsub.com/docs/changelog-android)

    *   [Token expiration handler](https://docs.sumsub.com/docs/token-expiration-handler)
    *   [Callbacks](https://docs.sumsub.com/docs/callbacks-android)
    *   [Debugging](https://docs.sumsub.com/docs/debugging)
    *   [Localization](https://docs.sumsub.com/docs/localization)
    *   [Analytics](https://docs.sumsub.com/docs/analytics-android)
    *   [Android SDK customization](https://docs.sumsub.com/docs/customization-android)
    *   [Theme API for Android](https://docs.sumsub.com/docs/android-theme-api)

*   [Framework plugins](https://docs.sumsub.com/docs/framework-plugins)
    *   [Cordova plugin](https://docs.sumsub.com/docs/cordova-plugin)
        *   [Changelog](https://docs.sumsub.com/docs/cordova-plugin-changelog)

    *   [React Native Module](https://docs.sumsub.com/docs/react-native-module)
        *   [Changelog](https://docs.sumsub.com/docs/react-native-module-changelog)

    *   [Flutter plugin](https://docs.sumsub.com/docs/flutter-plugin)
        *   [Changelog](https://docs.sumsub.com/docs/flutter-plugin-changelog)

    *   [Plugins customization](https://docs.sumsub.com/docs/plugins-customization)

*   [MSDK updates policy](https://docs.sumsub.com/docs/msdk-updates-policy)

## Automation

*   [About automation in Sumsub](https://docs.sumsub.com/docs/about-automation-in-sumsub)
*   [Summy AI Copilot](https://docs.sumsub.com/docs/summy-ai-copilot)
*   [Applicant overview by Summy AI](https://docs.sumsub.com/docs/applicant-overview-by-summy-ai)
*   [Local Data Processing](https://docs.sumsub.com/docs/local-data-processing)
*   [Self-service](https://docs.sumsub.com/docs/self-service)
    *   [Manage your subscription](https://docs.sumsub.com/docs/manage-your-subscription)

*   [Workflow Builder](https://docs.sumsub.com/docs/workflow-builder)
    *   [Get started with Workflow Builder](https://docs.sumsub.com/docs/get-started-with-workflow-builder)
        *   [Conditional node variables](https://docs.sumsub.com/docs/conditional-node-variables)

    *   [Workflow Builder scenarios](https://docs.sumsub.com/docs/verify-applicants-from-different-countries-via-workflow-builder)
        *   [Verify applicants from different countries via Workflow Builder](https://docs.sumsub.com/docs/verify-applicants-from-different-countries-via-workflow-builder)
        *   [Manage applicants via Workflow Builder based on their age](https://docs.sumsub.com/docs/manage-applicants-via-workflow-builder-based-on-their-age)
        *   [Combine non-document and standard verification via Workflow Builder](https://docs.sumsub.com/docs/combine-non-document-and-standard-verification-via-workflow-builder)
        *   [Assign tags using Workflow Builder](https://docs.sumsub.com/docs/assign-tags-using-workflow-builder)
        *   [Delegate rejected applicants for manual review](https://docs.sumsub.com/docs/delegate-rejected-applicants-for-manual-review)
        *   [Reject applicants for using VPN](https://docs.sumsub.com/docs/reject-applicants-for-using-vpn)
        *   [Handle applicants based on their IP address](https://docs.sumsub.com/docs/handle-applicants-based-on-their-ip-address)
        *   [Design age verification flow for gaming and social platforms](https://docs.sumsub.com/docs/design-age-verification-flow-for-gaming-and-social-platforms)

*   [Marketplace](https://docs.sumsub.com/docs/marketplace)
    *   [Twilio](https://docs.sumsub.com/docs/twilio)
    *   [ComplyAdvantage](https://docs.sumsub.com/docs/comply-advantage)
    *   [ComplyAdvantage Mesh](https://docs.sumsub.com/docs/complyadvantage-mesh)
    *   [World-Check One](https://docs.sumsub.com/docs/world-check-one)
    *   [Quantifind](https://docs.sumsub.com/docs/quantifind)
    *   [Auth0](https://docs.sumsub.com/docs/auth0)
    *   [Salesforce](https://docs.sumsub.com/docs/salesforce)

*   [Verification links](https://docs.sumsub.com/docs/verification-links)
    *   [Use unilinks](https://docs.sumsub.com/docs/use-unilinks)
    *   [Use permalinks](https://docs.sumsub.com/docs/use-permalinks)

*   [SDK translations](https://docs.sumsub.com/docs/sdk-translations)
*   [Client lists](https://docs.sumsub.com/docs/client-lists)

# About Business Verification

Streamline your business verification process.

[Know Your Business](https://sumsub.com/kyb/) (or KYB) is a due diligence procedure aimed at establishing the structure, ownership, purpose and activities of a given company.

The Sumsub KYB solution is aiming to help customers to verify counterparties, reduce risks of working with fraudsters, and save from getting fines from regulators.

KYB verification measures are key components of Anti-Money Laundering (AML) and Combating the Financing of Terrorism (CFT) regulations. They are also legally required by the Financial Action Task Force (FATF), regional regulations such as the 5th and 6th EU AML directives, and various national AML laws.

Verifying business in-house or having several KYC and KYB services can be a burden. Delegate all compliance tasks to Sumsub and get them done 70% faster. We automate the most complicated steps to get you results in hours instead of weeks. Cut costs and scale globally with full compliance using Sumsub’s KYB solution.

# Get full control over business verification

[](https://docs.sumsub.com/docs/business-verification#get-full-control-over-business-verification)

[Perform screening for legal entities Use AML screening for sanctioned and compromised persons upon onboarding and on an ongoing bases.](https://docs.sumsub.com/docs/verify-businesses#perform-screening-for-legal-entities)[Collect and verify company and beneficiaries information Verify information about the company and its beneficiaries through the global and local registries.](https://docs.sumsub.com/docs/verify-businesses#collect-and-verify-company-and-beneficiaries-information)[Establish company structure, approve ownership and verify identity Determine the full company structure, percentages of ownership and verify all beneficiaries using KYC checks.](https://docs.sumsub.com/docs/verify-businesses#establish-company-structure-approve-ownership-and-verify-identity)

Updated about 2 months ago

* * *

[Crystal Intelligence](https://docs.sumsub.com/docs/crystal-intelligence)[How Business Verification works](https://docs.sumsub.com/docs/how-business-verification-works)

Did this page help you?

Yes

No

*       *   [Get full control over business verification](https://docs.sumsub.com/docs/business-verification#get-full-control-over-business-verification)

![Image 5: Cookie dog illustration](https://sumsub.com/_next/static/media/IconCookieDog.cbb41e16.svg)
Cookie Break Time

We use cookies to enhance the functionality of our website and its subdomains, and to personalize content and ads, **always prioritizing your privacy and data security**. You have the control to enable or disable optional cookies as you wish. For a deeper dive into our cookie usage, do check out our [Cookie Policy](https://sumsub.com/cookie-policy/).

*   - [x] Necessary cookies (Always enabled)    Required cookies are key to the operation of our site. They enable you to navigate our website and its subdomains and use its features. They cannot be turned off. Without these cookies, the website and its subdomains cannot function properly. Please be aware that these don't collect information that can identify you.  
*   - [x] Analytics cookies    These cookies help to improve our website and its subdomains by collecting information about your interactions with it. They show us which pages are most frequently visited and help us to record the difficulties that you may have while using our website and its subdomains.  
*   - [x] Performance/functionality cookies    These cookies are used to enhance the performance and functionality of our website and its subdomains but are non-essential. However, without these cookies, certain functionalities like videos may become unavailable, or you would be required to enter your login details every time you visit our website and its subdomains as we would not be able to remember that you had logged in previously.  
*   - [x] Advertisement cookies    These cookies collect information about your online activities over time, in order to personalize advertisements. They also allow us to limit the number of times you see our ads across your devices and measure the effectiveness of our marketing campaigns.  

 Manage cookies  Save  Accept all cookies
